# Environments
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# PyInstaller
dist/
build/
*.spec

# Application Data
data/logs/*
!data/logs/.gitkeep
data/stats/*
!data/stats/.gitkeep
data/calibration/*
!data/calibration/.gitkeep
*.lock
pixelpal.log

# IDEs
.idea/
.vscode/
